<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<script src="http://10.134.184.155:8080/static/jquery-1.11.3.min.js"></script>
<script type="text/javascript">

	function commit() {
		var content = document.getElementsByClassName("code")[0].value;
		var url = "http://10.134.184.155:8080/manager/compile_SOLCtoABI"

		jQuery.ajax({
			type : "POST",
			dataType : "json",
			url : url,
			async : false,
			data : {
				"code" : content
			}
		}).success(function(data) {
			alert(data);
		});
	}
</script>
<body>
<textarea cols="60" rows="40" class="code">
　輸入你想要寫的內容...
</textarea>
<br />
<input type="button" value="commit" onclick="commit()" />


</body>
</html>