<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GethMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="AccountMap" type="Account">
        <result property="address" column="address" javaType="String"></result>
        <result property="account" column="account" javaType="String"></result>
    </resultMap>

    <!-- 定义 SQL 语句，其中 id 需要和接口中的方法名一致 -->
    <!-- useGeneratedKeys：实现自动生成主键 -->
    <!-- keyProperty： 唯一标记一个属性 -->
    <!-- parameterType 指明查询时使用的参数类型，resultType 指明查询返回的结果集类型 -->
    <insert id="insertAccount" >
        insert into account (address,account) values
        (#{address},#{account})
    </insert>

    <update id="updateAccount"  parameterType="Account">
        update account set
        account=#{account} where
        address=#{address}
    </update>

    <delete id="deleteAccount" parameterType="String">
        delete from account where
        address=#{address}
    </delete>


    <!-- 使用resultType时，一定要保证，你属性名与字段名相同；如果不相同，就使用resultMap -->
    <select id="getAccount" parameterType="String" resultType="Account">
        select account from account where address=#{address}
    </select>

    <select id="getAllAccounts" resultMap="AccountMap">
        select * from account
    </select>

</mapper>