<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.service.WalletService">
	<!-- 自定义返回结果集 -->
	<resultMap id="WalletMap" type="com.example.demo.entity.Wallet">
		<result property="address" column="address" javaType="String"></result>
		<result property="file_name" column="file_name" javaType="String"></result>
	</resultMap>

	<insert id="insertWallet">
		insert into wallet (address,file_name) values
		(#{address},#{file_name})
	</insert>

	<update id="updateWallet" parameterType="com.example.demo.entity.Wallet">
		update wallet set
		file_name=#{file_name} where
		address=#{address}
	</update>

	<delete id="deleteWallet" parameterType="String">
		delete from wallet where
		address=#{address}
	</delete>

	<select id="getWallet" parameterType="String" resultType="com.example.demo.entity.Wallet">
		select * from wallet where address=#{address}
	</select>

	<select id="getAllWallets" resultMap="WalletMap">
		select * from wallet
	</select>

</mapper>